@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #fafafa;
  --color-primary: #a855f7;
  --color-border: #27272a;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
